.env
# Byte-compiled / optimized / compiled files
__pycache__/
*.pyc
*.pyd
*.pyo

# Virtual environment
env/
venv/
.venv/

# Editor/IDE files
.vscode/
.idea/
*.swp
*.bak

# Logs and temporary files
*.log
*.tmp
*.temp

# Data files (if not meant for version control)
*.sqlite3
*.db
__azurite_db_blob__.json
__azurite_db_blob_extent__.json
.gitignore
__azurite_db_queue_extent__.json
.gitignore
.DS_Store
AzuriteConfig
_out/*
